.presentationcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
    
    .leftcontainer{
        font-size: 1.2rem;
        font-family: 'Fira Sans';
        font-weight: 400;
        margin: 2rem 5rem 2.5rem 0;

        p.paragraph { width: 33rem; }
    }
    
    .title1 {
        width: 33rem;

        font-family: Oswald;
        font-style: normal;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 155.5%;

        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #000000;
    }

    #markup{
    width: 26rem;
    height: 2.8rem;
    text-align: center;

    background: #000000;
    color: #C2FF01;
    border-radius: 0.5rem;
    }
    
    

    .botaotopo{
        width: 482px;
        height: 60px;
    
        background: #C2FF01;
        border-radius: 30px;
        border: none;
    
        font-family: "Source Sans Pro" sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 428.2%;
    
        letter-spacing: 0.1em;
        text-transform: uppercase;
    
        color: #000000;
    }
}







